In [1]:
import pandas as pd

In [2]:
!pwd

/Users/sanganichaitanya/Downloads/Pers/workshop/pandas-tutorial

In [3]:
# Dataset source - https://www.kaggle.com/jboysen/global-food-prices

## Reading different file formats

In [4]:
afg_data = pd.read_csv("../datasets/food prices dataset.csv" )

In [5]:
afg_data

,country,state name,market name,cm_name,mp_month,mp_year,mp_price
0,Afghanistan,Badakhshan,Fayzabad,Bread,1,2014,50.00
1,Afghanistan,Badakhshan,Fayzabad,Bread,2,2014,50.00
2,Afghanistan,Badakhshan,Fayzabad,Bread,3,2014,50.00
3,Afghanistan,Badakhshan,Fayzabad,Bread,4,2014,50.00
4,Afghanistan,Badakhshan,Fayzabad,Bread,5,2014,50.00
5,Afghanistan,Badakhshan,Fayzabad,Bread,6,2014,50.00
6,Afghanistan,Badakhshan,Fayzabad,Bread,7,2014,50.00
7,Afghanistan,Badakhshan,Fayzabad,Bread,8,2014,50.00
8,Afghanistan,Badakhshan,Fayzabad,Bread,9,2014,50.00
9,Afghanistan,Badakhshan,Fayzabad,Bread,10,2014,50.00
10,Afghanistan,Badakhshan,Fayzabad,Bread,11,2014,50.00
11,Afghanistan,Badakhshan,Fayzabad,Bread,12,2014,50.00
12,Afghanistan,Badakhshan,Fayzabad,Bread,1,2015,50.00
13,Afghanistan,Badakhshan,Fayzabad,Bread,2,2015,50.00
14,Afghanistan,Badakhshan,Fayzabad,Bread,3,2015,50.00
15,Afghanistan,Badakhshan,Fayzabad,Bread,6,2015,50.00
16,Afghanistan,Badakhshan,Fayzabad,Bread,7,2015,50.00
17,Afghanistan,Badakhshan,Fayzabad,Bread,8,2015,50.00
18,Afghanistan,Badakhshan,Fayzabad,Bread,9,2015,50.00
19,Afghanistan,Badakhshan,Fayzabad,Bread,10,2015,56.25
20,Afghanistan,Badakhshan,Fayzabad,Bread,11,2015,65.25
21,Afghanistan,Badakhshan,Fayzabad,Bread,12,2015,55.50
22,Afghanistan,Badakhshan,Fayzabad,Bread,1,2016,55.50
23,Afghanistan,Badakhshan,Fayzabad,Bread,2,2016,55.50
24,Afghanistan,Badakhshan,Fayzabad,Bread,3,2016,55.50
25,Afghanistan,Badakhshan,Fayzabad,Bread,4,2016,50.00
26,Afghanistan,Badakhshan,Fayzabad,Bread,5,2016,50.00
27,Afghanistan,Badakhshan,Fayzabad,Bread,6,2016,50.00
28,Afghanistan,Badakhshan,Fayzabad,Bread,7,2016,50.00
29,Afghanistan,Badakhshan,Fayzabad,Bread,8,2016,50.00
...,...,...,...,...,...,...,...
4646,Afghanistan,Ghor,Ghor,Rice (low quality),6,2008,50.00
4647,Afghanistan,Ghor,Ghor,Rice (low quality),7,2008,50.00
4648,Afghanistan,Ghor,Ghor,Rice (low quality),8,2008,36.00
4649,Afghanistan,Ghor,Ghor,Rice (low quality),9,2008,39.75
4650,Afghanistan,Ghor,Ghor,Rice (low quality),10,2008,40.00
4651,Afghanistan,Ghor,Ghor,Rice (low quality),11,2008,36.00
4652,Afghanistan,Ghor,Ghor,Rice (low quality),12,2008,36.00
4653,Afghanistan,Ghor,Ghor,Rice (low quality),1,2009,37.00
4654,Afghanistan,Ghor,Ghor,Rice (low quality),2,2009,39.00
4655,Afghanistan,Ghor,Ghor,Rice (low quality),3,2009,31.50
4656,Afghanistan,Ghor,Ghor,Rice (low quality),4,2009,28.00
4657,Afghanistan,Ghor,Ghor,Rice (low quality),5,2009,28.00
4658,Afghanistan,Ghor,Ghor,Rice (low quality),6,2009,28.50
4659,Afghanistan,Ghor,Ghor,Rice (low quality),7,2009,28.00
4660,Afghanistan,Ghor,Ghor,Rice (low quality),8,2009,28.50
4661,Afghanistan,Ghor,Ghor,Rice (low quality),9,2009,28.00
4662,Afghanistan,Ghor,Ghor,Rice (low quality),10,2009,27.00
4663,Afghanistan,Ghor,Ghor,Rice (low quality),11,2009,50.25
4664,Afghanistan,Ghor,Ghor,Rice (low quality),12,2009,54.50
4665,Afghanistan,Ghor,Ghor,Rice (low quality),1,2010,66.75
4666,Afghanistan,Ghor,Ghor,Rice (low quality),2,2010,61.50
4667,Afghanistan,Ghor,Ghor,Rice (low quality),3,2010,30.50
4668,Afghanistan,Ghor,Ghor,Rice (low quality),4,2010,29.00
4669,Afghanistan,Ghor,Ghor,Rice (low quality),5,2010,32.00
4670,Afghanistan,Ghor,Ghor,Rice (low quality),6,2010,31.00
4671,Afghanistan,Ghor,Ghor,Rice (low quality),7,2010,32.00
4672,Afghanistan,Ghor,Ghor,Rice (low quality),8,2010,32.00
4673,Afghanistan,Ghor,Ghor,Rice (low quality),9,2010,32.00
4674,Afghanistan,Ghor,Ghor,Rice (low quality),10,2010,32.00
4675,Afghanistan,Ghor,Ghor,Rice (low quality),11,2010,27.50

In [6]:
type(afg_data)

pandas.core.frame.DataFrame

In [7]:
bng_data = pd.read_json("../datasets/food prices dataset.json", orient = 'split')

In [8]:
type(bng_data)

pandas.core.frame.DataFrame

**Can checkout about all the arguements of the function like this**
> ? pd.read_csv

- Pandas can read from over **15 file formats** including html, sql and sas (try with tab)

## Exploring the data

In [9]:
afg_data.head(10)

       country  state name market name cm_name  mp_month  mp_year  mp_price
0  Afghanistan  Badakhshan    Fayzabad   Bread         1     2014      50.0
1  Afghanistan  Badakhshan    Fayzabad   Bread         2     2014      50.0
2  Afghanistan  Badakhshan    Fayzabad   Bread         3     2014      50.0
3  Afghanistan  Badakhshan    Fayzabad   Bread         4     2014      50.0
4  Afghanistan  Badakhshan    Fayzabad   Bread         5     2014      50.0
5  Afghanistan  Badakhshan    Fayzabad   Bread         6     2014      50.0
6  Afghanistan  Badakhshan    Fayzabad   Bread         7     2014      50.0
7  Afghanistan  Badakhshan    Fayzabad   Bread         8     2014      50.0
8  Afghanistan  Badakhshan    Fayzabad   Bread         9     2014      50.0
9  Afghanistan  Badakhshan    Fayzabad   Bread        10     2014      50.0

In [10]:
afg_data.tail(10)

,country,state name,market name,cm_name,mp_month,mp_year,mp_price
4666,Afghanistan,Ghor,Ghor,Rice (low quality),2,2010,61.5
4667,Afghanistan,Ghor,Ghor,Rice (low quality),3,2010,30.5
4668,Afghanistan,Ghor,Ghor,Rice (low quality),4,2010,29.0
4669,Afghanistan,Ghor,Ghor,Rice (low quality),5,2010,32.0
4670,Afghanistan,Ghor,Ghor,Rice (low quality),6,2010,31.0
4671,Afghanistan,Ghor,Ghor,Rice (low quality),7,2010,32.0
4672,Afghanistan,Ghor,Ghor,Rice (low quality),8,2010,32.0
4673,Afghanistan,Ghor,Ghor,Rice (low quality),9,2010,32.0
4674,Afghanistan,Ghor,Ghor,Rice (low quality),10,2010,32.0
4675,Afghanistan,Ghor,Ghor,Rice (low quality),11,2010,27.5

In [11]:
afg_data.shape # (rows, columns)

(4676, 7)

In [12]:
afg_data.describe()

          mp_month      mp_year      mp_price
count  4676.000000  4676.000000  4.676000e+03
mean      6.436698  2010.692900  7.620850e+04
std       3.447645     5.351495  3.993333e+05
min       1.000000  2000.000000  5.000000e+00
25%       3.000000  2007.000000  2.200000e+01
50%       6.000000  2013.000000  3.850000e+01
75%       9.000000  2015.000000  2.000000e+02
max      12.000000  2017.000000  5.833333e+06

In [13]:
afg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4676 entries, 0 to 4675
Data columns (total 7 columns):
country        4676 non-null object
state name     4676 non-null object
market name    4676 non-null object
cm_name        4676 non-null object
mp_month       4676 non-null int64
mp_year        4676 non-null int64
mp_price       4676 non-null float64
dtypes: float64(1), int64(2), object(4)
memory usage: 255.8+ KB

In [14]:
afg_data.dtypes # Note the dtypes mentioned - datetime objects will be dealt later

country         object
state name      object
market name     object
cm_name         object
mp_month         int64
mp_year          int64
mp_price       float64
dtype: object

## Summary

- Reading from different formats

- Exploring the data
    - quantitative: Shape, head
    - qualitative: info, describe, dtypes

# Exercise

### P01-Basics Read the file '../datasets/food prices dataset.json' to variable bng_food_data

In [19]:
# %load "solutions/P01_Basics.py"
bng_food_data = pd.read_json("../datasets/food prices dataset.json", orient="split")

### P02-Basics How many rows in the Dataframe ?

In [20]:
%load "solutions/P02_Basics.py"

3035

## P03-Basics From which year to which year is the data recorded ?

In [22]:
# Hint - min and max of the year

In [24]:
%load "solutions/P03_Basics.py"

             month         year        price
count  3035.000000  3035.000000  3035.000000
mean      6.495222  2011.314003    53.488742
std       3.495580     3.208722    27.372790
min       1.000000  2004.000000    14.000000
25%       3.000000  2009.000000    30.500000
50%       7.000000  2011.000000    39.000000
75%      10.000000  2014.000000    79.155550
max      12.000000  2017.000000   159.250000