In [1]:
import pandas as pd

In [2]:
! pwd

/Users/sanganichaitanya/Downloads/Pers/workshop/pandas-tutorial

In [3]:
trips_data = pd.read_csv("datasets/biketrip.csv")

In [4]:
trips_data.head()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,4576,63.0,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,NaN
1,4607,70.0,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71.0,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77.0,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83.0,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103

## Group bys

A group by operation ( similar to group by in sql ) typically
- Splits the data
- Applies a function to the individual groups
- Combines the individual results

The function applied can be 
- aggregations like Sum, Mean etc.
- transformations like concating the strings in the group, fill nas in the group with a specific value, etc.
- Filtering to remove groups now following a condition as a group. 

Let's see all the use cases

In [5]:
trip_group = trips_data.groupby('start_station_id')

In [6]:
type(trip_group)

pandas.core.groupby.DataFrameGroupBy

In [7]:
trip_group.count()

,id,duration,start_date,start_station_name,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
start_station_id,,,,,,,,,,
2,9558,9536,9558,9558,9558,9558,9558,9558,9558,9525
3,1594,1594,1594,1594,1594,1594,1594,1594,1594,1547
4,3861,3861,3861,3861,3861,3861,3861,3861,3861,3833
5,1257,1257,1257,1257,1257,1257,1257,1257,1257,1249
6,2917,2917,2917,2917,2917,2917,2917,2917,2917,2895
7,2233,2233,2233,2233,2233,2233,2233,2233,2233,2213
8,1692,1692,1692,1692,1692,1692,1692,1692,1692,1678
9,1910,1910,1910,1910,1910,1910,1910,1910,1910,1892
10,2393,2390,2393,2393,2393,2393,2393,2393,2393,2377
11,2034,2034,2034,2034,2034,2034,2034,2034,2034,2018
12,1170,1170,1170,1170,1170,1170,1170,1170,1170,1160
13,1680,1680,1680,1680,1680,1680,1680,1680,1680,1671
14,1496,1496,1496,1496,1496,1496,1496,1496,1496,1487
16,1473,1473,1473,1473,1473,1473,1473,1473,1473,1461
21,224,224,224,224,224,224,224,224,224,221
22,1554,1554,1554,1554,1554,1554,1554,1554,1554,1540
23,287,287,287,287,287,287,287,287,287,286
24,213,213,213,213,213,213,213,213,213,209
25,503,503,503,503,503,503,503,503,503,501
26,311,311,311,311,311,311,311,311,311,310
27,2984,2984,2984,2984,2984,2984,2984,2984,2984,2970
28,6544,6544,6544,6544,6544,6544,6544,6544,6544,6493
29,1990,1990,1990,1990,1990,1990,1990,1990,1990,1976
30,1667,1667,1667,1667,1667,1667,1667,1667,1667,1660
31,1818,1818,1818,1818,1818,1818,1818,1818,1818,1814
32,2035,2035,2035,2035,2035,2035,2035,2035,2035,2030
33,1129,1129,1129,1129,1129,1129,1129,1129,1129,1116
34,2111,2111,2111,2111,2111,2111,2111,2111,2111,2072
35,1512,1512,1512,1512,1512,1512,1512,1512,1512,1446
36,1026,1026,1026,1026,1026,1026,1026,1026,1026,1002
...,...,...,...,...,...,...,...,...,...,...
50,32934,32934,32934,32934,32934,32934,32934,32934,32934,32257
51,14054,14054,14054,14054,14054,14054,14054,14054,14054,13949
54,14811,14811,14811,14811,14811,14811,14811,14811,14811,14633
55,26089,26089,26089,26089,26089,26089,26089,26089,26089,25968
56,15709,15709,15709,15709,15709,15709,15709,15709,15709,15559
57,13526,13526,13526,13526,13526,13526,13526,13526,13526,13372
58,4535,4535,4535,4535,4535,4535,4535,4535,4535,4399
59,7342,7342,7342,7342,7342,7342,7342,7342,7342,7242
60,27713,27713,27713,27713,27713,27713,27713,27713,27713,26911
61,25837,25837,25837,25837,25837,25837,25837,25837,25837,25623
62,15940,15940,15940,15940,15940,15940,15940,15940,15940,15755
63,13163,13163,13163,13163,13163,13163,13163,13163,13163,13074
64,18496,18496,18496,18496,18496,18496,18496,18496,18496,18367
65,23724,23724,23724,23724,23724,23724,23724,23724,23724,23481
66,12880,12880,12880,12880,12880,12880,12880,12880,12880,12591
67,20272,20272,20272,20272,20272,20272,20272,20272,20272,20027
68,11251,11251,11251,11251,11251,11251,11251,11251,11251,11065
69,33742,33742,33742,33742,33742,33742,33742,33742,33742,33594
70,49092,49092,49092,49092,49092,49092,49092,49092,49092,48832
71,12496,12496,12496,12496,12496,12496,12496,12496,12496,12158
72,14102,14102,14102,14102,14102,14102,14102,14102,14102,13856
73,16306,16302,16306,16306,16306,16306,16306,16306,16306,16074
74,24838,24838,24838,24838,24838,24838,24838,24838,24838,24574
75,12224,12224,12224,12224,12224,12224,12224,12224,12224,12040
76,20165,20165,20165,20165,20165,20165,20165,20165,20165,19770
77,24172,24172,24172,24172,24172,24172,24172,24172,24172,23829
80,863,863,863,863,863,863,863,863,863,862
82,10310,10310,10310,10310,10310,10310,10310,10310,10310,10304
83,341,341,341,341,341,341,341,341,341,341
84,1747,1747,1747,1747,1747,1747,1747,1747,1747,1743

In [8]:
trip_group_2 = trips_data.groupby(['start_station_id','end_station_id'])['duration']

In [9]:
type(trip_group_2)

pandas.core.groupby.SeriesGroupBy

In [11]:
trip_group_2.mean()

start_station_id  end_station_id
2                 2                  9028.078534
                  3                   576.946429
                  4                   290.419091
                  5                   583.480064
                  6                   447.967033
                  7                   520.462761
                  8                   740.758772
                  9                  1016.205047
                  10                 1033.575453
                  11                  627.007426
                  12                 7830.363158
                  13                  659.662185
                  14                  557.542857
                  16                  830.584184
                  28                83205.000000
                  33                12893.000000
                  37                75844.000000
                  80                 1281.956522
                  84                  836.264398
3                 2                  1077.125984
                  3                 10358.035806
                  4                   552.237288
                  5                  2207.056604
                  6                   819.448598
                  7                  1553.636364
                  8                 14167.111111
                  9                  1585.724138
                  10                  576.456522
                  11                  886.594059
                  12                14147.555556
                                        ...
82                73                 1694.546512
                  74                  368.749137
                  75                  404.697704
                  76                  914.721698
                  77                  584.544954
                  82                 3931.130252
83                22                  549.044444
                  23                  466.833333
                  24                  650.285714
                  25                  433.500000
                  26                 1923.000000
                  34                 2517.500000
                  36                 2300.000000
                  83                10838.722222
84                2                   677.664835
                  3                   639.881988
                  4                   670.869565
                  5                  2329.083333
                  6                   413.595745
                  7                   815.690476
                  8                   627.307692
                  9                   354.121212
                  10                  836.421053
                  11                 2380.097561
                  12                 1049.808511
                  13                  578.333333
                  14                  797.156250
                  16                  977.200000
                  80                  518.653396
                  84                 7618.217742
Name: duration, Length: 1751, dtype: float64

<center> <h2> Split Apply Combine in Visual </h2> </center>
<img src="datasets/s_a_c.jpg">

In [12]:
# multiple agrregations on same column
trips_data.groupby(['start_station_id'])['duration'].agg(['mean','min','max'])

                         mean    min         max
start_station_id
2                  925.812919   62.0    619322.0
3                 4208.016939   61.0    655939.0
4                  965.820772   64.0    241942.0
5                 1201.237072   74.0    295377.0
6                 1420.732259   69.0    594550.0
7                 1342.047022   65.0    288430.0
8                 1278.748227   69.0    123337.0
9                 2207.809948   68.0    489435.0
10                1187.678243   64.0    212202.0
11                1517.520649   64.0    168395.0
12                1962.280342   79.0    309479.0
13                 912.986905   62.0    128783.0
14                1963.967914   62.0    715339.0
16                1336.792940   63.0    140544.0
21                1720.325893   66.0     42960.0
22                2415.717503   65.0    720454.0
23                2716.770035   66.0     91045.0
24                4579.234742   60.0    102305.0
25                1349.230616   66.0     59618.0
26                3959.491961   61.0    502617.0
27                1318.670576   62.0    348910.0
28                1428.452170   64.0    552697.0
29                2377.497487   61.0    586356.0
30                1140.179364   74.0     86363.0
31                2285.981298   62.0   1852590.0
32                1868.313514   60.0    517856.0
33                4174.082374   68.0    560792.0
34                3210.648982   66.0    688899.0
35                7090.239418   63.0   1133540.0
36                4628.005848   66.0    597517.0
...                       ...    ...         ...
50                1494.994170   60.0    716480.0
51                 830.842963   60.0    170115.0
54                1006.427925   61.0    155513.0
55                 655.435126   60.0    209181.0
56                 861.653383   60.0    265238.0
57                 927.342599   63.0    260991.0
58                1748.475413   64.0    258706.0
59                1149.721874   60.0     73103.0
60                1411.335330   60.0    246516.0
61                 791.664977   60.0    209618.0
62                 581.709849   61.0    280228.0
63                 748.973258   60.0    256772.0
64                 687.877054   60.0     90213.0
65                 676.522467   60.0    230797.0
66                2401.603339   60.0  17270400.0
67                1049.214680   60.0    457110.0
68                 935.167541   60.0    154979.0
69                 690.142167   60.0     91522.0
70                 826.567099   60.0    108224.0
71                1588.630362   60.0    226108.0
72                1216.544391   60.0    303271.0
73                1200.053858   61.0    324775.0
74                 935.708551   60.0    248215.0
75                1011.801538   60.0    236812.0
76                1309.414282   60.0    464952.0
77                 923.195226   60.0   2137000.0
80                1501.463499   69.0    191136.0
82                 818.312512   60.0     87391.0
83                1668.727273  116.0    119940.0
84                1156.385232   65.0     91749.0

[70 rows x 3 columns]

In [13]:
# multiple aggregations on different columns
trips_data.groupby(['start_station_id']).agg({'duration':['mean', 'median'], 'end_station_id':'nunique'})

                     duration         end_station_id
                         mean  median        nunique
start_station_id
2                  925.812919   463.0             19
3                 4208.016939   573.5             18
4                  965.820772   275.0             17
5                 1201.237072   334.0             17
6                 1420.732259   412.0             16
7                 1342.047022   451.0             17
8                 1278.748227   410.5             17
9                 2207.809948   751.5             17
10                1187.678243   471.0             16
11                1517.520649   527.5             18
12                1962.280342   417.5             16
13                 912.986905   436.5             16
14                1963.967914   385.0             16
16                1336.792940   543.0             16
21                1720.325893   296.0             10
22                2415.717503   321.0             16
23                2716.770035   404.0             10
24                4579.234742   399.0             11
25                1349.230616   821.0             11
26                3959.491961   354.0              9
27                1318.670576   241.5             13
28                1428.452170   312.0             16
29                2377.497487   322.0             19
30                1140.179364   269.0              8
31                2285.981298   252.0             14
32                1868.313514   304.0             12
33                4174.082374   668.0             11
34                3210.648982   700.0             17
35                7090.239418  2759.0             17
36                4628.005848  1046.0             15
...                       ...     ...            ...
50                1494.994170   616.0             35
51                 830.842963   538.0             35
54                1006.427925   489.0             36
55                 655.435126   492.0             35
56                 861.653383   466.0             36
57                 927.342599   441.0             36
58                1748.475413   677.0             36
59                1149.721874   656.0             35
60                1411.335330   664.0             35
61                 791.664977   493.0             36
62                 581.709849   356.0             35
63                 748.973258   411.0             35
64                 687.877054   427.0             35
65                 676.522467   507.0             35
66                2401.603339   667.0             36
67                1049.214680   578.0             35
68                 935.167541   438.0             35
69                 690.142167   558.0             36
70                 826.567099   637.0             37
71                1588.630362   547.0             35
72                1216.544391   508.0             35
73                1200.053858   547.0             35
74                 935.708551   535.0             35
75                1011.801538   475.0             35
76                1309.414282   488.0             37
77                 923.195226   432.0             35
80                1501.463499   756.0             17
82                 818.312512   481.0             35
83                1668.727273   270.0              8
84                1156.385232   518.0             16

[70 rows x 3 columns]

### What happens to the index and sort order ?

In [14]:
trips_data.groupby(['start_station_id']).agg({'duration':['mean', 'median'], 'end_station_id':'nunique'}).index

Int64Index([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 21, 22, 23,
            24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41,
            42, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 57, 58, 59, 60, 61, 62,
            63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 80, 82,
            83, 84],
           dtype='int64', name='start_station_id')

In [15]:
trips_data.groupby(['start_station_id','end_station_id'])['duration'].mean()

start_station_id  end_station_id
2                 2                  9028.078534
                  3                   576.946429
                  4                   290.419091
                  5                   583.480064
                  6                   447.967033
                  7                   520.462761
                  8                   740.758772
                  9                  1016.205047
                  10                 1033.575453
                  11                  627.007426
                  12                 7830.363158
                  13                  659.662185
                  14                  557.542857
                  16                  830.584184
                  28                83205.000000
                  33                12893.000000
                  37                75844.000000
                  80                 1281.956522
                  84                  836.264398
3                 2                  1077.125984
                  3                 10358.035806
                  4                   552.237288
                  5                  2207.056604
                  6                   819.448598
                  7                  1553.636364
                  8                 14167.111111
                  9                  1585.724138
                  10                  576.456522
                  11                  886.594059
                  12                14147.555556
                                        ...
82                73                 1694.546512
                  74                  368.749137
                  75                  404.697704
                  76                  914.721698
                  77                  584.544954
                  82                 3931.130252
83                22                  549.044444
                  23                  466.833333
                  24                  650.285714
                  25                  433.500000
                  26                 1923.000000
                  34                 2517.500000
                  36                 2300.000000
                  83                10838.722222
84                2                   677.664835
                  3                   639.881988
                  4                   670.869565
                  5                  2329.083333
                  6                   413.595745
                  7                   815.690476
                  8                   627.307692
                  9                   354.121212
                  10                  836.421053
                  11                 2380.097561
                  12                 1049.808511
                  13                  578.333333
                  14                  797.156250
                  16                  977.200000
                  80                  518.653396
                  84                 7618.217742
Name: duration, Length: 1751, dtype: float64

> Group by objects usually have a multi level index or what is called **Hierarchical Index**

In [16]:
trips_data.groupby(['start_station_id','end_station_id'])['duration'].mean().index

MultiIndex(levels=[[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 80, 82, 83, 84], [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 45, 46, 47, 48, 49, 50, 51, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 80, 82, 83, 84]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 49, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 53, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 55, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 56, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 57, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 61, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 62, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 68, 68, 68, 68, 68, 68, 68, 68, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69, 69], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 21, 26, 30, 66, 69, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 21, 60, 66, 69, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 58, 66, 69, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 26, 66, 69, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 66, 69, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 64, 66, 69, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 24, 66, 69, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 30, 66, 69, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 66, 69, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 21, 64, 66, 69, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 66, 69, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 66, 69, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 66, 69, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 66, 69, 14, 15, 16, 17, 18, 19, 27, 28, 30, 68, 14, 15, 16, 17, 18, 19, 21, 22, 27, 28, 29, 30, 31, 58, 60, 68, 14, 15, 16, 17, 18, 19, 28, 30, 31, 68, 14, 15, 16, 17, 18, 19, 25, 27, 28, 30, 68, 14, 15, 16, 17, 18, 19, 27, 28, 29, 30, 68, 13, 14, 15, 16, 17, 18, 19, 30, 68, 11, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 66, 0, 7, 11, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 58, 1, 6, 14, 15, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 55, 64, 12, 20, 21, 22, 23, 24, 25, 26, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 58, 60, 0, 20, 21, 22, 23, 24, 25, 26, 29, 30, 31, 51, 7, 20, 21, 22, 23, 24, 25, 26, 28, 29, 31, 14, 15, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 58, 14, 15, 16, 17, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 58, 18, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 44, 58, 65, 14, 17, 18, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 58, 24, 28, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 15, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 16, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 15, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 8, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 15, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 27, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 28, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 0, 22, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 5, 18, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 29, 66, 69, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 15, 16, 17, 18, 19, 27, 29, 68, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 66, 69]],
           names=['start_station_id', 'end_station_id'])

In [17]:
trips_data.groupby(['start_station_id','end_station_id'])['duration'].mean().loc[2]

end_station_id
2      9028.078534
3       576.946429
4       290.419091
5       583.480064
6       447.967033
7       520.462761
8       740.758772
9      1016.205047
10     1033.575453
11      627.007426
12     7830.363158
13      659.662185
14      557.542857
16      830.584184
28    83205.000000
33    12893.000000
37    75844.000000
80     1281.956522
84      836.264398
Name: duration, dtype: float64

In [18]:
trips_data.groupby(['start_station_id','end_station_id'])['duration'].mean().loc[2, 4]

290.4190909090909

In [19]:
trips_data.groupby(['start_station_id','end_station_id']).mean().reset_index() # to reset the index

,start_station_id,end_station_id,id,duration,bike_id
0,2,2,380150.759162,9028.078534,289.675393
1,2,3,508793.544643,576.946429,263.649554
2,2,4,483269.295000,290.419091,271.471364
3,2,5,408200.344498,583.480064,272.041467
4,2,6,465518.266876,447.967033,273.802983
5,2,7,443779.032771,520.462761,264.550149
6,2,8,394896.131579,740.758772,290.543860
7,2,9,466938.241325,1016.205047,284.955836
8,2,10,384428.248555,1033.575453,275.824663
9,2,11,478320.740099,627.007426,272.378713
10,2,12,531749.668421,7830.363158,271.978947
11,2,13,450748.082353,659.662185,272.376471
12,2,14,299644.828571,557.542857,263.942857
13,2,16,351664.165816,830.584184,268.760204
14,2,28,584179.666667,83205.000000,329.000000
15,2,33,98892.000000,12893.000000,198.000000
16,2,37,208887.000000,75844.000000,232.000000
17,2,80,625965.347826,1281.956522,281.173913
18,2,84,546278.777487,836.264398,256.958115
19,3,2,489839.837270,1077.125984,270.349081
20,3,3,434764.296675,10358.035806,263.268542
21,3,4,383798.644068,552.237288,288.940678
22,3,5,410640.339623,2207.056604,252.867925
23,3,6,421818.177570,819.448598,224.925234
24,3,7,505209.727273,1553.636364,306.890909
25,3,8,284268.833333,14167.111111,284.694444
26,3,9,436629.689655,1585.724138,268.034483
27,3,10,427221.815217,576.456522,269.032609
28,3,11,404112.138614,886.594059,283.465347
29,3,12,509759.833333,14147.555556,261.222222
...,...,...,...,...,...
1721,82,73,580427.534884,1694.546512,442.825581
1722,82,74,600198.569620,368.749137,441.233602
1723,82,75,578114.223214,404.697704,439.340561
1724,82,76,570082.216981,914.721698,446.014151
1725,82,77,613961.805505,584.544954,458.401835
1726,82,82,554116.483193,3931.130252,437.571429
1727,83,22,562697.377778,549.044444,262.748148
1728,83,23,553041.083333,466.833333,190.833333
1729,83,24,360131.428571,650.285714,309.714286
1730,83,25,310171.500000,433.500000,211.500000
1731,83,26,513049.000000,1923.000000,112.750000
1732,83,34,511439.500000,2517.500000,118.500000
1733,83,36,500731.000000,2300.000000,264.000000
1734,83,83,516599.694444,10838.722222,298.000000
1735,84,2,589788.804029,677.664835,267.412088
1736,84,3,494330.956522,639.881988,271.689441
1737,84,4,528973.608696,670.869565,238.521739
1738,84,5,653066.666667,2329.083333,240.500000
1739,84,6,575339.872340,413.595745,209.567376
1740,84,7,527866.547619,815.690476,242.690476
1741,84,8,501849.846154,627.307692,242.846154
1742,84,9,519215.878788,354.121212,248.909091
1743,84,10,584043.736842,836.421053,198.526316
1744,84,11,449379.609756,2380.097561,325.414634
1745,84,12,434647.574468,1049.808511,244.914894
1746,84,13,547915.800000,578.333333,248.000000
1747,84,14,633816.687500,797.156250,249.468750
1748,84,16,429880.400000,977.200000,272.800000
1749,84,80,508028.672131,518.653396,261.182670
1750,84,84,477871.806452,7618.217742,216.911290

In [20]:
trips_data_group = trips_data.groupby(['start_station_id','end_station_id']).mean().reset_index()
trips_data_group.rename(columns = {'id':'id_mean','duration':'duration_mean', 'bike_id': 'bike_id_mean'})

,start_station_id,end_station_id,id_mean,duration_mean,bike_id_mean
0,2,2,380150.759162,9028.078534,289.675393
1,2,3,508793.544643,576.946429,263.649554
2,2,4,483269.295000,290.419091,271.471364
3,2,5,408200.344498,583.480064,272.041467
4,2,6,465518.266876,447.967033,273.802983
5,2,7,443779.032771,520.462761,264.550149
6,2,8,394896.131579,740.758772,290.543860
7,2,9,466938.241325,1016.205047,284.955836
8,2,10,384428.248555,1033.575453,275.824663
9,2,11,478320.740099,627.007426,272.378713
10,2,12,531749.668421,7830.363158,271.978947
11,2,13,450748.082353,659.662185,272.376471
12,2,14,299644.828571,557.542857,263.942857
13,2,16,351664.165816,830.584184,268.760204
14,2,28,584179.666667,83205.000000,329.000000
15,2,33,98892.000000,12893.000000,198.000000
16,2,37,208887.000000,75844.000000,232.000000
17,2,80,625965.347826,1281.956522,281.173913
18,2,84,546278.777487,836.264398,256.958115
19,3,2,489839.837270,1077.125984,270.349081
20,3,3,434764.296675,10358.035806,263.268542
21,3,4,383798.644068,552.237288,288.940678
22,3,5,410640.339623,2207.056604,252.867925
23,3,6,421818.177570,819.448598,224.925234
24,3,7,505209.727273,1553.636364,306.890909
25,3,8,284268.833333,14167.111111,284.694444
26,3,9,436629.689655,1585.724138,268.034483
27,3,10,427221.815217,576.456522,269.032609
28,3,11,404112.138614,886.594059,283.465347
29,3,12,509759.833333,14147.555556,261.222222
...,...,...,...,...,...
1721,82,73,580427.534884,1694.546512,442.825581
1722,82,74,600198.569620,368.749137,441.233602
1723,82,75,578114.223214,404.697704,439.340561
1724,82,76,570082.216981,914.721698,446.014151
1725,82,77,613961.805505,584.544954,458.401835
1726,82,82,554116.483193,3931.130252,437.571429
1727,83,22,562697.377778,549.044444,262.748148
1728,83,23,553041.083333,466.833333,190.833333
1729,83,24,360131.428571,650.285714,309.714286
1730,83,25,310171.500000,433.500000,211.500000
1731,83,26,513049.000000,1923.000000,112.750000
1732,83,34,511439.500000,2517.500000,118.500000
1733,83,36,500731.000000,2300.000000,264.000000
1734,83,83,516599.694444,10838.722222,298.000000
1735,84,2,589788.804029,677.664835,267.412088
1736,84,3,494330.956522,639.881988,271.689441
1737,84,4,528973.608696,670.869565,238.521739
1738,84,5,653066.666667,2329.083333,240.500000
1739,84,6,575339.872340,413.595745,209.567376
1740,84,7,527866.547619,815.690476,242.690476
1741,84,8,501849.846154,627.307692,242.846154
1742,84,9,519215.878788,354.121212,248.909091
1743,84,10,584043.736842,836.421053,198.526316
1744,84,11,449379.609756,2380.097561,325.414634
1745,84,12,434647.574468,1049.808511,244.914894
1746,84,13,547915.800000,578.333333,248.000000
1747,84,14,633816.687500,797.156250,249.468750
1748,84,16,429880.400000,977.200000,272.800000
1749,84,80,508028.672131,518.653396,261.182670
1750,84,84,477871.806452,7618.217742,216.911290

> Group by default sorts it by the grouped fields in ascending order

#### Can try with *sort = False* for possible performance improvement

In [21]:
trips_data.groupby(['start_station_id','end_station_id'], sort= False).mean()

                                            id      duration     bike_id
start_station_id end_station_id
66               66              404573.991848   5444.076087  454.722826
10               10              358553.187773   3864.790393  275.493450
27               27              390652.756345   9224.477157  256.898477
66               67              388332.687500   1149.944444  450.006944
59               59              424171.861905   7128.980952  434.747619
4                5               335224.343750    998.625000  379.906250
8                8               343017.375000   4351.275000  249.543750
10               11              241112.408451    904.014085  267.147887
49               54              377406.979167    524.284722  442.732639
6                4               304003.409091   6506.500000  238.068182
28               28              437142.178030   8619.897727  262.070076
64               64              376457.855172   2069.940230  436.324138
41               56              418052.846154    568.497041  453.988166
47               47              387354.048544   5643.990291  448.446602
67               67              413020.611111   6274.429429  447.154655
74               50              439265.036232   4924.028986  446.384058
39               76              457366.157556   2504.627010  446.932476
22               22              411635.767742  10897.587097  266.419355
58               58              371119.888060   5109.320896  445.343284
47               77              401778.380282   5946.802817  433.436620
56               74              450455.768519   1189.972222  459.370370
9                9               321859.552174   7993.704348  289.982609
55               51              486233.744681    333.815603  454.134752
3                8               284268.833333  14167.111111  284.694444
26               25              287706.454545   2321.181818  219.000000
61               64              359324.628866    697.860825  444.814433
72               72              390737.036697   8639.591743  452.800459
58               66              385436.068182    792.368182  449.390909
45               45              407049.435484   4088.641129  440.790323
76               47              431684.060606    938.136364  439.583333
...                                        ...           ...         ...
23               37              812706.000000  12731.000000  257.000000
24               35              805525.000000   3105.500000  689.000000
                 34              801195.000000   1983.000000   51.000000
37               31              797134.000000   2946.000000  128.000000
5                84              601268.500000    512.000000  316.250000
28               9               767832.000000   6067.000000   98.000000
32               36              766979.000000   1645.000000  656.000000
30               14              729384.000000  27409.000000  102.000000
26               83              726617.000000   6321.000000   15.000000
11               76              695326.000000  29942.000000  119.000000
56               83              685485.000000  20586.000000  488.000000
29               3               682574.000000  11083.000000   13.000000
11               28              681703.000000  18484.000000  447.500000
27               80              681606.333333  43369.666667  111.666667
22               38              560239.500000   2346.500000  206.000000
38               70              659080.000000  15940.000000   15.000000
36               25              642490.500000   2438.333333  285.333333
29               25              647682.500000   2980.000000  690.000000
25               37              631147.000000   4894.000000  301.000000
35               70              608719.000000  19348.333333  364.666667
                 24              579448.500000   1668.000000  392.000000
29               76              592705.500000  15861.500000  121.000000
35               23              575988.500000   1918.500000  414.000000
83               34              511439.500000   2517.500000  118.500000
                 36              500731.000000   2300.000000  264.000000
22               36              500682.000000   2457.000000  682.000000
34               27              500636.000000   3044.000000  240.000000
22               28              495037.000000  16744.000000  261.000000
76               25              438097.000000  23661.000000  652.000000
70               29              433179.000000  28226.000000  111.000000

[1751 rows x 3 columns]

### Quick Concepts -  Date time operations

In [22]:
trips_data.dtypes

id                      int64
duration              float64
start_date             object
start_station_name     object
start_station_id        int64
end_date               object
end_station_name       object
end_station_id          int64
bike_id                 int64
subscription_type      object
zip_code               object
dtype: object

In [28]:
%time
trips_data['start_date'] = pd.to_datetime(trips_data['start_date'])

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 6.91 µs

In [32]:
%time
trips_data['end_date'] = pd.to_datetime(trips_data['end_date'])

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 6.91 µs

In [45]:
trips_data.dtypes

id                             int64
duration                     float64
start_date            datetime64[ns]
start_station_name            object
start_station_id               int64
end_date              datetime64[ns]
end_station_name              object
end_station_id                 int64
bike_id                        int64
subscription_type             object
zip_code                      object
start_hour                    object
end_hour                      object
start_date_date               object
end_date_date                 object
start_dow                     object
end_dow                       object
dtype: object

In [47]:
trips_data.head()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code,start_hour,end_hour,start_date_date,end_date_date,start_dow,end_dow
0,4576,63.0,2013-08-29 14:13:00,South Van Ness at Market,66,2013-08-29 14:14:00,South Van Ness at Market,66,520,Subscriber,NaN,14,14,2013-08-29,2013-08-29,Thursday,Thursday
1,4607,70.0,2013-08-29 14:42:00,San Jose City Hall,10,2013-08-29 14:43:00,San Jose City Hall,10,661,Subscriber,95138,14,14,2013-08-29,2013-08-29,Thursday,Thursday
2,4130,71.0,2013-08-29 10:16:00,Mountain View City Hall,27,2013-08-29 10:17:00,Mountain View City Hall,27,48,Subscriber,97214,10,10,2013-08-29,2013-08-29,Thursday,Thursday
3,4251,77.0,2013-08-29 11:29:00,San Jose City Hall,10,2013-08-29 11:30:00,San Jose City Hall,10,26,Subscriber,95060,11,11,2013-08-29,2013-08-29,Thursday,Thursday
4,4299,83.0,2013-08-29 12:02:00,South Van Ness at Market,66,2013-08-29 12:04:00,Market at 10th,67,319,Subscriber,94103,12,12,2013-08-29,2013-08-29,Thursday,Thursday

In [49]:
import datetime

Datetime library is used for parsing and operating with datetime objects. 
- Common operations include extracting parts of the date object
    - hour, minutes, seconds
    - day of week (dow), week of the year
- Add time deltas to the existing objects
- Format the object to required formats

Lets use some of them for understanding the data better

In [51]:
get_hour = lambda x: x.strftime('%H')
get_date = lambda x: x.strftime('%Y-%m-%d')
get_dow = lambda x: x.strftime('%A')

In [56]:
%time
trips_data['start_hour'] = trips_data['start_date'].apply(get_hour)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.87 µs

In [57]:
trips_data['end_hour'] = trips_data['end_date'].apply(get_hour)

In [58]:
trips_data['start_date_date'] = trips_data['start_date'].apply(get_date)

In [60]:
%time
trips_data['end_date_date'] = trips_data['end_date'].apply(get_date)

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 8.11 µs

In [63]:
trips_data['start_dow'] = trips_data['start_date'].apply(get_dow)
trips_data['end_dow'] = trips_data['end_date'].apply(get_dow)

In [64]:
trips_data.head()

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code,start_hour,end_hour,start_date_date,end_date_date,start_dow,end_dow
0,4576,63.0,2013-08-29 14:13:00,South Van Ness at Market,66,2013-08-29 14:14:00,South Van Ness at Market,66,520,Subscriber,NaN,14,14,2013-08-29,2013-08-29,Thursday,Thursday
1,4607,70.0,2013-08-29 14:42:00,San Jose City Hall,10,2013-08-29 14:43:00,San Jose City Hall,10,661,Subscriber,95138,14,14,2013-08-29,2013-08-29,Thursday,Thursday
2,4130,71.0,2013-08-29 10:16:00,Mountain View City Hall,27,2013-08-29 10:17:00,Mountain View City Hall,27,48,Subscriber,97214,10,10,2013-08-29,2013-08-29,Thursday,Thursday
3,4251,77.0,2013-08-29 11:29:00,San Jose City Hall,10,2013-08-29 11:30:00,San Jose City Hall,10,26,Subscriber,95060,11,11,2013-08-29,2013-08-29,Thursday,Thursday
4,4299,83.0,2013-08-29 12:02:00,South Van Ness at Market,66,2013-08-29 12:04:00,Market at 10th,67,319,Subscriber,94103,12,12,2013-08-29,2013-08-29,Thursday,Thursday

### Summary

#### Group by operations

- Splits-Applies-Combines the data to give required results. 
- Multiple aggregates can be performed on multiple columns in one operation
- index has to be reset else the grouped by columns become the index(in case more than 1 column, then multi index is formed)
- sort order is by default ascending on the grouped by columns

#### Date time operations 

- various attributes of the datetime object can be accessed using [ datetime object ].sftrtime 
- Rest of the attributes can be found here - http://strftime.org/

### Exercises

### P01 Group by - Calculate the total number of rides started on every single from trips_data

In [ ]:
%load "Solutions/P01_Group_by.py"

### P02 Group by -  Which day of the week sees the most number of rides ( both average and median )?

In [76]:
# Hint get the counts to a new variable and get the averages from it

In [ ]:
%load 'Solutions/P02_Group_by.py'

### P03 Group by -  Which hour of the day sees the most number of trips started on an average?

In [80]:
# Hint get the counts to a new variable and get the averages from it

In [ ]:
%load "Solutions/P03_Group_by.py"

### P04 Group by -  How does the above result vary with day of week ?

In [83]:
# Hint get the counts to a new variable and get the averages from it

In [ ]:
%load "Solutions/P04_Group_by.py"